article {
    margin: 50px 0;
}

.main {
    display: flex;
    flex-direction: row;
}

.nav {
    width: 120px;
    border: black solid 1px;
    margin: 20px 30px;
    padding: 5px 5px;
    background-color: whitesmoke;
    height: fit-content;
}

.nav_item {
    width: 110px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.nav_item_bb::after {
    content: "";
    position: absolute;
    bottom: -2px;
    width: 80%;
    height: 1px;
    background-color: black;
}

.body {
    width: 100%;
    margin-right: 30px;
}

.Manage_Page {
    display: block;
}

.Manage_Post {
    display: none;
}

.Create_Post {
    display: none;
}

.community_post {
    width: 1000px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin: 20px auto;
}

.delete {
    display: flex;
    justify-content: left;
    align-items: end;
}

/* post */
.community {
    display: flex;
    flex-direction: row;
    width: 1000px;
    margin: 50px auto;
}

.community_item_close {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 5px 10px;
}

.community_item_close_btn {
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.community_left {
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.community_top {
    height: 60px;
    margin-bottom: 30px;
}

.community_top_button {
    width: 130px;
    border: 1px solid #000;
    font-size: 15px;
    padding: 10px 10px;
    text-align: center;
    background-color: #ADADFF;
    border-radius: 20px;
    cursor: pointer;
}

.community_top_tip {
    width: 600px;
    border: 1px solid #000;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.community_left .item {
    border-top: 1px solid #000;
    padding: 20px 0;
    margin-bottom: 30px;
}

.community_center {
    margin: 0 20px;
    width: 600px;
}

.community_list {
    margin: 30px 0;
}

.community_item {
    width: 90%;
    border: 1px solid #000;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 10px;
}

.border-red {
    border: 1px solid red;
}

.color-red {
    color: red !important;
}

.community_item_top {
    height: 80px;
    display: flex;
    flex-direction: row;
}

.community_item_top_left {
    width: 60px;
}

    .community_item_top_left img {
        width: 100%;
        height: auto;
    }

.community_item_top_right {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    width: 100%;
}

.community_item_top_right_nametime {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.community_content {
    padding: 0 20px 0 70px;
}

.community_picture {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
}

    .community_picture img {
        width: 200px;
        height: 200px;
        margin: 20px;
    }

.community_item_bottom {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.community_item_category {
    display: flex;
    flex-direction: row;
}

    .community_item_category p {
        margin-right: 5px;
    }

.community_item_likecomment {
    display: flex;
    flex-direction: row;
}

.community_item_like {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

    .community_item_like img {
        width: 35px;
        height: 35px;
    }

    .community_item_like h3 {
        margin: 0 10px;
    }

.community_item_comment {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

    .community_item_comment img {
        width: 35px;
        height: 35px;
    }

    .community_item_comment h3 {
        margin: 0 10px;
    }

.community_right {
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .community_right a {
        width: 100%;
        height: auto;
    }

        .community_right a img {
            width: 100%;
            height: auto;
        }

/* create post */
.content {
    width: 1000px;
    margin: 20px auto;
    border: 1px solid #000;
    background-color: whitesmoke;
    padding: 20px;
}

.username {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    .username img {
        width: 40px;
        margin-top: 30px;
    }

.title {
    border-bottom: 1px solid #000;
}


.txbtitle {
    width: 100%;
    height: 30px;
    margin-top: 30px;
}

.category {
    width: 1000px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.category_item {
    width: 100px;
    height: 40px;
    margin: 5px;
    border-radius: 5px;
    background-color: #fff;
    font-size: 15px;
    padding: 10px 5px;
    text-align: center;
    white-space: normal;
}

.selected {
    background-color: #ACACFF;
}

textarea {
    width: 100%;
    height: 400px;
    resize: none;
}

.pictures {
    display: flex;
    flex-direction: row;
}

.pictures_left {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choose {
    margin: 10px 20px;
}

.input_file {
    display: none;
}

.choose.have-image {
    width: 300px;
    border: 1px solid #000;
    padding: 30px;
    position: relative;
}

.btn {
    border: 1px solid #000;
    font-size: 13px;
    border-radius: 2px;
    background-color: #EFEFEF;
    padding: 2px 4px;
}

.choosebtn {
    position: absolute;
    top: 0;
    left: 0;
}

.image_preview {
    width: 100%;
    height: auto;
}

.choosed {
    border: 1px solid #000;
}

.password {
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.password_tip {
    width: 800px;
    margin: 0 auto;
}

.bottom_button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.btn_cancel {
    width: 100px;
    height: 40px;
    font-size: 18px;
    margin-left: 80px;
    border: 1px solid #000;
    background-color: #666666;
    color: white;
}

.btn_post {
    width: 100px;
    height: 40px;
    font-size: 18px;
    margin-left: 80px;
    border: 1px solid #000;
    background-color: #2E80FB;
    color: white;
}
