body {
    font-family: Arial;
}

article {
    margin: 50px;
}

.cont {
    background-color: whitesmoke;
    width: 1000px;
    list-style-type: none;
    overflow: hidden;
    margin: 20px auto;
    padding: 30px;
    border: solid 0.5px #808080;
    border-radius: 5px;
}

.cmstitledivcover {
    background-color: #dddddd;
    padding: 1px;
    border-radius: 5px;
}

.cmstitlediv {
    background-color: whitesmoke;
    padding: 10px;
    border: solid 0.5px #808080;
    margin: 20px;
    border-radius: 5px;
}

.cmstitle {
    font-size: 24px;
    padding-left: 20px;
}

.tablemenu {
    display: flex;
    margin: 30px auto 0 auto;
    background-color: #dfdfdf;
    padding: 10px;
}

.tablelabel {
    margin-left: 20px;
    font-size: 20px;
}

.adjust {
    padding: 0 10px;
}

.tbl {
    margin: 0 auto;
    border-spacing: 0px;
}

    .tbl tr td {
        padding: 10px;
        border-top: solid 0.1px black;
    }

.divhr {
    width: 100%;
    background-color: black;
    height: 1px;
    margin: 2px 0;
}

.tablebtn {
    width: 80px;
    height: 30px;
    border: solid black 1px;
    margin-bottom: 10px;
}

.size15 {
    font-size: 14px;
}
.size10 {
    font-size: 10px;
}

.pic100 {
    width: 100px;
}
.pic200{
    width: 200px;
}
.pic300 {
    width: 300px;
}

.pic500 {
    width: 90%;
}
.width95{
    width: 95%;
}
.width90 {
    width: 90%;
}

.width70 {
    width: 70%;
}

.width65 {
    width: 65%;
}

.width60 {
    width: 60%;
}

.width55 {
    width: 55%;
}

.width50 {
    width: 50%;
}

.width45 {
    width: 45%;
}

.width40 {
    width: 40%;
}

.width30 {
    width: 30%;
}

.width20 {
    width: 20%;
}

.width15 {
    width: 15%;
}

.width10 {
    width: 10%;
}
.width5{
    width: 5%;
}



.Tableadd {
    text-align: center;
    margin: 30px auto 0 auto;
    width: 600px;
    border: 2px solid;
}

.Picadd {
    margin: 20px;
    height: 40px;
    width: 200px;
}

.Tbaddnew {
    margin: 10px;
    height: 30px;
    width: 200px;
    border-radius: 7px;
}
.Tbaddnewlong {
    margin: 10px;
    height: 30px;
    width: 200px;
    border-radius: 7px;
}
.Tbaddnewfat {
    margin: 10px;
    height: 90px;
    width: 200px;
    border-radius: 7px;
}
.Tbaddnewbig {
    margin: 10px;
    height: 90px;
    width: 500px;
    border-radius: 7px;
}

.Tbaddbtn {
    margin: 10px;
    height: 30px;
    width: 90px;
    border-radius: 7px;
}
